
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to My Portfolio!</h1>

@foreach (var item in ViewBag.Person)
{
    <h2>Name: @item.Name</h2>
    <h2>Email: @item.Email</h2>
    <h2>Phone: @item.Phone</h2>
    <h2>Degree: @item.Degree</h2>
    <h2>Expertise: @item.Expertise</h2>
}
